<div class="question">
  <h5>{{#link-to 'question' question.id}}{{question.content}}{{/link-to}}</h5>
  <p>{{question.author}}</p>
  <span class='category'>{{#link-to 'tag' question.tag}}{{question.tag}}{{/link-to}}</span>
</div>
