<h5 class='category-form'>Search By Category</h5>
<form>
  <div class="input-field">
    {{input value=name id="name" placeholder="Category"}}
  </div>
  <button class="btn" {{action 'searchTag'}}>Find All</button>
</form>
