.question {
  border-top: 0.5px solid #C9C9C9;
  margin-bottom: 25px;
}

.answer {
  border-top: 0.5px solid #C9C9C9;
  margin-bottom: 25px;
  padding-top: 10px;
}

.category {
  background-color: lightblue;
  padding: 5px;
}

.author {
  text-align: right;
}

.question-detail {
  margin-bottom: 15px;
}

.btn {
  background-color: #0095ff;
  border-color: #07c;
}

.btn:hover {
  background-color: #0068b3;
}

.category-form {
  margin-top: 30px;
}

.nav-wrapper {
  background-color: black;
}

.brand-logo.left-align {
  padding-left: 15px;
}

.brand-logo a:hover {
  color: #0095ff;
}
