{{question-detail question=model updateQuestion="updateQuestion" deleteQuestion="deleteQuestion" upvote="upvote" downvote="downvote"}}

<div class="row">
  {{new-answer saveAnswer="saveAnswer" question=model}}
</div>
